<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayfeng.lesscode.update">

    <application>
        <service android:name="com.jayfeng.lesscode.core.UpdateService" />
        <provider
            android:authorities="@string/less_provider_file_authorities"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
